.container {
    //border: 1px solid magenta; //temporary
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;


    .card {
        background-color: $dark-blue;
        width: 88%;
        max-width: 45rem;
        //height: 100px; //temporary
        border-radius: 1.5rem;
        padding: 2.5rem;
    }

    .star {
        background-color: $medium-grey;
        width: 4rem;
        height: 4rem;
        padding: 1.3rem;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        
        img {
            width: 1.6rem;
        }
    }

    .title {
        font-size: 2.3rem;
        color: $white;
        margin-top: 1.8rem;
    }

    .text   {
        color: $light-grey;
        font-size: 1.45rem;
        line-height: 2.15rem;
        margin-top: 1.25rem;
    }

    .rating-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .rating-btn {
            color: $light-grey;
            font-size: 1.25rem;
            font-weight: 700;
            background-color: $medium-grey;
            width: 4.25rem;
            height: 4.25rem;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 3rem;

        div {
            transform: translateY(20%);
        }

        &:hover {
            background-color: $orange;
            cursor: pointer;
            transition-timing-function: ease-in;
            transition: 0.35s;

            div {
                color: $white;
            }
        }
        }

        .active {
            background-color: $light-grey;

            div {
                color: $white;
            }
        }
    }

    .submit-btn {
        background-color: $orange;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 3.5rem;
        padding: 1.25rem;
        border-radius: 3.5rem;

        div {
            text-transform: uppercase;
            color: $white;
            font-size: 1.75rem;
            letter-spacing: 0.15rem;
        }

        &:hover {
            background-color: $white;
            cursor: pointer;
            transition-timing-function: ease-in;
            transition: 0.35s;

            div {
                color: $orange;
                font-weight: 700;
            }
        }
    }

        .card-content-2 {
            display: flex;
            flex-direction: column;
            align-items: center;

            img {
                width: 15rem;
                margin-top: 1rem;
            }

            .text {
                text-align: center;
                margin-bottom: 1.5rem;
            }

            .result {
               background-color: $medium-grey;
               padding: 0.75rem 1.5rem;
               border-radius: 2rem;
               margin-top: 2rem;
               margin-bottom: 0.5rem;
            div {
                color: $orange;
                font-size: 1.6rem;
            }
            }
        }

        .attribution {
            font-size: 1.15rem;
            color: $light-grey;
            text-align: center;
            position:absolute;
            bottom: 2rem;

            a {
                color: $orange;
                font-weight: bold;
            }
          }

          .attribution img {
              width: 1.25rem;
              vertical-align: middle;
          }

            a:hover {
            color: $white;
        }

        .hide {
            display: none;
        }
    }